/*наша команда*/
.our-team{
    padding: 94px 0;
    background-color: var(--team-bakeground-color);
}

.our-team__head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
/*список наша команда*/
.oure-teame__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

/*карточка участника команды*/
.oure-teame__card {
    width: 270px;
    
    background: var(--light-color);
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    // outline: 1px solid red;
    &:not(:last-child){
        margin-right: 30px;
    }
}
/*подпись карточки*/
.oure-teame__description{
    padding: 30px 0;
    // outline: 1px solid darkorange;
}
.oure-teame__card-head {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
.oure-teame__card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-color);

    margin-top: 10px;
}
.oure-teame__social {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 16px;
    // outline: 1px solid green;
}
.oure-teame__social-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    &:not(:last-child){
        margin-right: 10px;
    }
}
.oure-teame__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: transparent;
    border-radius: 50%;

    color: var(--social-icon-color);
    transition-property: background-color,color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:focus,
    &:hover{
        outline: none;
        background-color: var(--accent);
        color: var(--light-color);
    }
}

.oure-teame__social-icon {
    fill: currentColor;
}
