.clients {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}
.clients__head {

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17px;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);

    @media screen and (min-width: 1200px) {

        font-size: 36px;
        line-height: 1.11;

    }
}
.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: -30px;
    margin-bottom: -30px;
    list-style: none;
}

.clients__item {
    flex-basis: $customers_mobile;
    margin-left: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        flex-basis: $customers_tablet;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: $customers_descktop;

    }

}
.clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--clients-item-borter);

    width: 100%;
    height: 90px;
    border: 1px solid var(--clients-item-borter);
    box-sizing: border-box;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;

    }

    &:hover,
    &:focus{
    outline: none;
    color: var(--accent);
    border-color: var(--accent);

}

}
.clients__icon {
    fill: currentColor;
}