// сукция гкрой
.hero {
    max-width: 480px;
    min-height: 400px;
    margin: 0 auto 0 auto;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        min-height: 600px;
        margin: 0 auto 0 auto;
    }
}
// контейнер секции
.hero__conteiner {
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-background-color);
    background-size: 480px 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/main/hero_background/mobile/hero-1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      .box {
        background-image: url('../images/main/hero_background/mobile/hero-2x.jpg');
      }
    }

    @media screen and (min-width: 768px) {
        background-size: 768px 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/main/hero_background/table/hero_tablet-1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
          .box {
            background-image: url('../images/main/hero_background/table/hero_tablet-2x.jpg)');
          }
        }
    }

    @media screen and (min-width: 1200px) {
        min-height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 200px;
        padding-bottom: 200px;
        background-size: cover;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/main/hero_background/desktop/hero_desk-1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
          .box {
            background-image: url('../images/main/hero_background/desktop/hero_desk-2x.jpg)');
          }
        }
    }
}
// скрытие элемента
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
// слоган секции
.hero__title {
    width: 360px;
    min-height: 84px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-family: $Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;

    color: $hero-text-color;

    @media screen and (min-width: 1200px) {
        width: 696;
        min-height: 120px;
        font-size: 44px;
        line-height: 1.363;
    }
}
// кнопка для формы
.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    width: 200px;
    min-height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: $button-color;
}
// текст кнопки
.hero__button-text {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;

    letter-spacing: 0.06em;

    color: $button-text-color;
}