.our-team {
    background-color: $bgcolor-section-our-team;
}
.our-team__conteiner {
    margin: 0 auto;
    @media screen and (max-width: 1199px) {
        padding: 60px 15px 60px;
    }
    @media screen and (max-width: 767px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px){
        max-width: 1600px;
        min-height: 708px;
        margin: 94px auto 0 auto;
        padding-top: 94px;
    }
}
.our-team__head {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.178;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: $head-color;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin: 0 auto ;

        font-size: 36px;
        line-height: 1.166;

    }
}
.our-team__list {
    width: 450px;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        width: 768px;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
        /*outline: 1px solid tomato;*/
    }
    @media screen and (min-width: 1200px) {
        min-width: 1200px;
        margin: 0 auto 0;
        margin-top: 50px;
        padding: 0;
        list-style: none;
    
        display: flex;
        justify-content: center;
    }
}

//карточка
.our-team__item {
    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        } 
    }


    @media screen and (min-width:768px) and (max-width: 1199px) {
        flex-basis: calc(100% / 2 - 60px);
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 30px; 
        }
    }
}
.our-team__card {
    width: 450px;
    height: 622px;
    margin: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width:768px) {
        width: 354px;
        height: 536px;
    } 

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
    }
}
.our-team__card-caption {
    padding-top: 30px;
}
.our-team__card-title {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    color: $head-color;
}
.our-team__card-specialty {
    font-family: $Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
    color: $card-text;

    margin-top: 10px;
}
.our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 44px;
    margin: 16px auto 24px auto;
    list-style: none;
    padding: 0;
}
.our-team__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.our-team__social-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: transparent;
    border-radius: 50%;

    color: $social-icon;

    transition-property: background-color,color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus {
        background-color: $accent-color;
        border-radius: 50%;
        color: $social-ico-acent;

        transition-property: background-color,color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

        outline: none;
    }
}
.our-team__social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}