body{

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--main-color);
}
h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
