/*подвал*/
.footer {
    background-color: $footer-bgcolor;
}
// секция подвал
.footer__section {
    width: 100%;

    margin: 0 auto;
    overflow: hidden;

    @media screen and (min-width: 768px){
        max-width: 768px;
        height: 463px;
    
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 252px;
        margin: 0 auto 0 auto;
    }
}
// контейнер подвала
.footer__conteiner {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        padding-left: 76px;
        padding-right: 89px;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
}
// блок ссылок
.footer__links-conteiner {
    margin: 0 auto;

    @media screen and (min-width:768px) { 

        margin: 0 0 60px 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        margin-right: 93px; 
    }
}
// группа ссылок
.footer__address {
    margin-top: 20px;

    @media screen and (min-width:768px) {

        margin: 20px 0 0 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 0;
        margin: 20px 0 0 0;
    }
}
// список ссылок
.footer__address__list {
    @media screen and (min-width: 1200px) {
        padding: 0;
        list-style: none;
    }
    
}
// элемент списка ссылок
.footer__address-contact {
    font-family: $Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;

    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 8px;
        }   
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
}
// адресси ссылка на гуглмап
.footer__location-on-map {
    color: $footer-map-color;
    text-decoration: none;

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}
// ссылка на телефон и почту
.footer__contact-link {
    color: $footer-address-contact;
    text-decoration: none;

    &:focus {
        text-decoration: underline;
        outline: none;
    }
}
// блок соцсетей
.social {
    width: 206px;
    height: 80px;
    margin: 60px auto 0;

    @media screen and (min-width: 768px) {
        margin: 0 0 102px auto;
        
    }

    @media screen and (min-width:1200px) {
        margin: 72px 0 100px 0;
    }
}
// предложение
.social__slogan {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $footer-map-color;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    

}
// список иконок соцсетей
.social__connect-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    list-style: none;
    padding: 0;
}
// элементы списка
.social__connect-item:not(:last-child) {
    margin-right: 10px;
}
// ссылка соцсетей
.social__connect-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $logo-text-color-10p;
    color: $social-icon-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,&:hover {
        border-radius: 50%;
        background-color: $accent-color;
        outline: none;
    }
}
// иконка соцсети
.social__connect-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
// блок подписатся на рассылку
.subscribe {
    display: block;
    max-width: 450px;
    height: 156px;
    margin: 60px auto 0;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        max-width: 570px;
        height: 86px;
        margin: 72px 0 94px 93px;
    }
}
// призыв
.subscribe__slogan {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $subscribe-slogan;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}
// форма подписания
.subscribe__form {
    text-align: center;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
// поле ввода
.subscribe__input {
    width: 450px;
    height: 50px;
    margin-top: 20px;
    padding-left: 16px;

    border: 1px solid $input-border;
    border-radius: 4px;
    background-color: transparent;
    color: $footer-input-user-text;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus{
        border: 2px solid $accent-color; 
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }
}
// кнопка
.subscribe__button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 29px;
    padding-right: 28px;

    border: none;
    border-radius: 4px;
    background-color: $subscribe-button-color;

    box-shadow: 0px 4px 4px $button-shadow-box;

    @media screen and (min-width: 1200px) {
        margin-left: 12px;
        margin-right: 0;
    }
}
// текст кнопки
.subscribe__button-text {
    font-family: $Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 187% */

    letter-spacing: 0.06em;

    color: $subscribe-button-text;
}
// иконка кнопки
.subscribe__button-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}