.logo {
    color: $logo-color;
    width: 145px;
    height: 31px;
    text-decoration: none;


    font-family: $Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    /* identical to box height */

    letter-spacing: 0.03em;

    &--footer {
        display: block;
        color: $logo-footer-color;


        @media screen and (max-width: 1199px) {
            text-align: center;
            margin: 0 auto;
        }
        @media screen and (min-width: 1200px) {
            margin: 0 93px 20px 0; 

            &:focus{
                text-decoration: underline;
                outline: none;
            }
        }
    }
    
}
.logo__first-word {
    color: $logo-accent-color;
}